<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Figure Input Page</title>
  </head>
  <body>
 
 

  <form method="POST" action="/figures">

  <center><h1>Create at new figure:</h1></center>
  <p> Figure Name: <input id="figure_name" type="text" name="figure[name]"></p>

  <h3>Select a Landmark:</h3>
  <%@landmarks.each do |t| %>
      <label><input id = "landmark_<%=t.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= t.id%>""><%= t.name %> <br></label>
  <% end %>

  <h3>Or create a new Landmark:</h3>
       <p>Landmark name: <input id="new_landmark" type="text" name="landmark[name]"></p>
       <p>Year Completed: <input id="landmark_year_completed" type="text" name="landmark[year_completed]"></p>

  <h3>Select a Title:</h3>
    <%@titles.each do |t| %>
      <label><input id="title_<%= t.id %>" type="checkbox" name="figure[title_ids][]" value="<%= t.id%>"><%=t.name%><br></label>
    <% end %>   


      <h3>Or create at new Title:</h3>
       <p>Title name: <input id="new_title" type="text" name="title[name]"></p>

  <input id="submit" type="submit" name="Submit" value="Create New Figure">

  </form>




  </body>
</html>